* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    background-color: #fff; 
    display: flex;             
    justify-content: center;   
    align-items: center;
}

.contenedor-main{
    
    text-align: center;
    max-width: 550px;
    padding: 20px;
}


.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
}

.author-info a {
    text-decoration: none;
}

.titulo{
    font-size: 2.5rem;
    color: black; 
    margin-bottom: 25px;
}
.descripcion{
    color: #666;
    line-height: 1.4;          
    margin-bottom: 42px;
}
.cuadro{
    background-color: #fff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.03),
            0px 8px 12px 0px rgba(0, 0, 0, 0.08);
    border: 1px solid #f0f0f0;
    margin-bottom: 20px;
}
.u{
    font-size: 12px;
    color: #94a3b8;
    margin-top: 20px;
}

.correo{
    padding: 25px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 12px ;
    border: 1px solid #e2e8f0;
    font-size: 16px;
}
   

.btn-sus{
    width: 100%;
    padding: 15px;
    background-color: #2b50d8;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    
}
@media (max-width: 1024px) {
    .contenedor-main {
        max-width: 500px; 
    }
    h1 {
        font-size: 36px; /
    }
    .cuadro {
        padding: 30px; 
    }
}

@media (max-width: 1350px) {
    .contenedor-main{
        max-width: 500px; 
    }
    h1 {
        font-size: 36px; 
    }
    .cuadro {
        padding: 30px; 
    }
}

@media (max-width: 412px) {
    .contenedor-main {
        max-width: 100%; 
        padding: 10px;    
    }
    
    h1 {
        font-size: 28px; 
    }

    .descripcion {
        font-size: 15px; 
    }

    .cuadro {
        padding: 20px;  
        box-shadow: 0 5px 20px rgba(0,0,0,0.05); 
    }

    .btn-sus, .correo {
        padding: 12px;   
    }
}